<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Course Manager</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <div class="container">
            <div class="row m-4">
                <div class="col text-center"  style="background-color: grey;height : 15vh;color:white;">
                    <h1 style="font-size: 7vh">My Blog</h1>
                </div>
            </div>
            <div class="px-5">     
                <h2 class="text-center">AUTHOR LOGIN</h2>
                
                <form action="#" th:action="@{/author/login}" method="POST" class="px-5">
                    <div class="form-group row" >
                        <label for="emailLogin">Email address</label>
                        <input type="text" th:value="${email}" name="email" class="form-control" id="emailLogin" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group row">
                        <label for="PasswordLogin">Password</label>
                        <input type="text"  th:value="${password}" name="password"  class="form-control" id="PasswordLogin" placeholder="Password">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

            <!-- Footer -->
            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2021 Copyright:
                    <a href="https://wikipedia.com"> Group3Blog.com</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->

            <!-- End main body -->

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>;


