<html xmlns:th="http://www.thymeleaf.org"
           xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Posts</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
<!--       <p <th:each="post : ${postList}">
                                <span th:text="${post.id}">Teacher ID </span>
                                <span th:text="${post.title}">Teacher First Name</span>
                                <span th:text="${post.content}">Teacher Last Name</span>
                                <span th:text="${post.authorId}">Teacher Specialty</span>
                             

        </p>-->

        <p>Post: <span th:text="${postList}"></span></p>
    </body>
</html>
