<html xmlns:th="http://www.thymeleaf.org"
           xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Posts</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p th:each="post: ${postList}">
            <b>ID: </b><span th:text="${post.id}"/> 
             <b>Title:</b> <span th:text="${post.title}" />
             <b>Content:</b> <span th:text="${post.title}" />
             <b>autorId:</b> <span th:text="${post.authorId}" />
        </p>

<!--        <p>Post: <span th:text="${postList.get(0)}"></span></p>-->
    </body>
</html>
